.contenedorItem{
    display: flex;
    border-radius: 5px;
    margin-top: 3.75rem;
    margin-left: 21.875rem;
    margin-right: 21.875rem;
    align-items: center;
    color: #C5C3C0;
    box-shadow: #181E26 3px 3px 8px;
    border-radius: 20px;
    overflow: hidden;
}

.contenedorImg{
    position: relative;
    display: inline-block;
    align-content: center;
    img{
        width: 50rem;
        height: auto;
        border-radius: 15px;
        object-fit: cover;
        mask-image: linear-gradient(to right,#9BC1D7 70%, transparent);
}


.infoItem{
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}


.botonItem{
    display: flex;
    margin: 9.375rem;
    gap: 10px;
    padding: 5px;
    justify-content: center;
    align-items: center;    
    button{
        outline: 0;
        text-align: center;
        cursor: pointer;
        border: 0;
        font-size: x-large;
        border-radius: 5px;
        color: #fff;
        background-color: #6C9018;
    }   
}}