.cardProducto {
    background-color: #1B2838;
    color: #C5C3C0;
    border-radius: 10px;
    width: 250px;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardProducto:hover{
    background-color: #9BC1D7;
    color: #10161C;
}


.cardProducto img {
    width: 260px;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
    mask-image: linear-gradient(#184555 95%, transparent);
}
.cardProducto img:hover{
    transition: .4s ease;
    mask-image: linear-gradient(#9BC1D7 95%, transparent);
    transform: 
        perspective(280px) 
        rotateX(5deg)
        translateY(-5%)
        translateZ(0);
}

.cardProducto button {
    background-color: #6C9018;
    color: #fafafa;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
