
.contadorBoton{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: baseline;    
    button{
        padding-left: .625rem;
        padding-right: .625rem;
        padding-top: 10px;
        padding-bottom: 10px;
        outline: 0;
        text-align: center;
        cursor: pointer;
        border: 0;
        border-radius: 5px;
        color: #fff;
        font-size: 16px;
        background-color: #6C9018;
        transition: background,color .1s ease-in-out;
        margin-bottom: 30px;
    }

    p{
        color: #C5C3C0;
    }
    
}
