
header{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #181E26;
    color: #C5C3C0;
    a{
        text-decoration: none;
        outline: none;
    }
}

nav{
    margin: auto;
}
h1{
    margin: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #C5C3C0;
    a{
        text-decoration: none;
        outline: none;
        
    }
}



li{
    display: inline-block;
    margin: 10px;
    list-style-type: none;
    a{
        text-decoration: none;
        outline: none;
        color: #C5C3C0;
    }
}
li:hover{
    transition: .3s ease;
    translate: 2px 0px;
}
li a:hover{
    color: #1A9FFF;
}
