body{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(24,64,79);
  background: linear-gradient(133deg, rgba(24,64,79,1) 0%, rgba(26,43,60,1) 48%, rgba(27,40,56,1) 100%);
}