
.contadorBoton{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;    
    button{
        display: inline-block;
        outline: 0;
        text-align: center;
        cursor: pointer;
        border: 0;
        border-radius: 5px;
        color: #fff;
        font-size: 12px;
        background-color: #6C9018;
        transition: background,color .1s ease-in-out;
    }
    p{
        color: #C5C3C0;
    }
    
}
